/* GENERAL */
:root {
    --header-color: #091057;
    --list-color: #024CAA;
    --store-color: #DBD3D3;
    --button-color:white;
    --cards-color: #c77005;
    --cards-color-hover : #EC8305;
    --button-hover-color:lightgrey;
    --button-active-color: grey;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: var(--store-color);
}

button {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
}

/* HEADERS */
.container-principal-header {
    width: 100%;
    height: 4rem;
    background-color: var(--header-color);
    display:flex;
    justify-content:flex-end;
    align-items: center;

}

.container-content-header {
    width: 65%;
    display: flex;
    justify-content: space-between;
    padding: 0.4rem;
}

.header-search {
    display:flex;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
}

.header-input-search {
    border-radius: 1rem;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    font-size: 1rem;
    height: 1.5rem;
    width: 30vw;
    text-overflow: ellipsis;
}

.header-button-search {
    border-radius: 1.5rem;
    padding:0.5rem;
    width: 8vw;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.1s ease;
}
.header-button-search:hover {
    cursor:pointer;
    background-color: var(--button-hover-color);
}
.header-button-search:active {
    background-color: var(--button-active-color);
}

.header-button-add {
    border-radius: 1.5rem;
    padding:0.5rem;
    font-size: 1rem;
    width: 14vw;
    border:none;
    display:flex;
    justify-content:space-around;
    align-items: center;
    gap: 0.4rem;
    transition: 0.1s ease;
}

.header-button-add:hover {
    cursor:pointer;
    background-color: var(--button-hover-color);
}
.header-button-add:active {
    background-color: var(--button-active-color);
}

/* MAIN */

.container-view {
    display:grid;
    grid-template-columns: 1fr 4fr;
}

/* MAIN -> LIST*/

.main-list-aside {
    background-color: var(--list-color);
    width: 100%;
    height: calc(100vh - 4rem);

    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    
}

.main-list-aside h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0.2rem;
}

.main-list-aside ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:0.5rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right:1rem;
    

}

.main-list-aside ul li {
    font-weight: 500;
    width: 95%;
    padding:0.2rem;
    padding-left:10px;
    border-radius: 0.8rem;
    background-color: white;
    transition: 0.05s ease;
}
.main-list-aside ul li:hover {
    cursor:pointer;
    background-color: var(--button-hover-color);
    transform:translateX(0.7rem);
}
.main-list-aside ul li.liActive {
    background-color: var(--button-active-color);
    padding-top:1rem;
    padding-bottom: 1rem;
    font-size: large;
}

/* MAIN -> STORE */

.main-store {
    height: calc(100vh - 4rem);
    overflow-y:auto;
    background-color: var(--store-color);
    width: 100%;
}

.container-product-store {
    width: 100%;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    
}

.container-target-item {
    background-color: var(--cards-color);
    width: 20rem;
    height: 28rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
    border-radius:0.4rem;
    transition: 0.1s ease;
    margin: 1rem;
    overflow: hidden;
}
.container-target-item:hover {
    background-color:var(--cards-color-hover);
    box-shadow:0px 0px 10px 15px rgba(155, 155, 155, 0.3);
    cursor:pointer;
    transform: scale(1.05);
}
.container-target-item h2 {
    text-align: center;
}
.target-props {
    margin-top:1rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-title-section {
    margin:1rem;
    font-size: 2rem;
    border-bottom: 1px solid black;
}

.section-store {
    background-color: var(--store-color);
    margin:1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section-store img {
    width: 20rem;
    border-radius: 100rem;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
}

/* POP UP */

.popup-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
}

.popup-content {
    width: 50vw;
    height: 30rem;
    background-color:white;
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.5);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popup-header {
    width: 100%;
    text-align: center;
}

.popup-input-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem;
}
.popup-input-container input, 
.popup-input-container select {
    width: 60%;
    padding: 0.4rem;
    border:1px solid;
    border-radius: 0.4rem;
}

.popup-button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: 0.1s ease;
}

.popup-button {
    padding:0.4rem;
    border-radius: 0.4rem;
    border:1px solid;
    width: 4rem;
    border: none;
}
.popup-button:hover {
    background-color: var(--button-hover-color);
}
.popup-button:active {
    background-color: var(--button-active-color);
}


/* MEDIA-QUERIES */

@media screen and (max-width: 1850px) {
    .container-product-store {
        grid-template-columns: repeat(3, 1fr);
    }
    
    .container-target-item {
        width: 18rem;
        height: 25rem;
    }
    .section-store img {
        width:18rem;
    }
    
}

@media screen and (max-width:1300px) {
    .container-target-item {
        width: 14rem;
        height: 20rem;
    }
    .section-store img {
        width: 14rem;
    }
}
@media screen and (max-width:1000px) {
    .container-product-store {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:700px) {
    .container-target-item {
        width: 8rem;
        height: 15rem;
    }
    .section-store img {
        width: 8rem;
    }
}
@media screen and (max-width:500px) {
    .container-product-store {
        grid-template-columns: repeat(1,1fr);

    }
   
}


/* SCROLLBAR */
::-webkit-scrollbar {
    background-color: white;
    border-radius: 0.4rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--header-color);
    border-radius: 0.4rem;
    transition: 0.2s ease;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(42, 42, 141);
}









